<h1>Formularios reactivos</h1>

<form [formGroup]="formulario" (ngSubmit)="save()">

  <div class="form-group">
    <label >Usuario</label>
    <input [ngClass]="formulario.get('usuario').valid ? '' : 'is-invalid' " class="form-control" formControlName="usuario"  type="text"  placeholder="Ingrese un nombre de usuario"> 
    <div class="invalid-feedback" *ngIf="formulario.get('usuario').touched && formulario.get('usuario').hasError('required')" >Campo obligatorio</div>
  </div>

  <div class="form-group">
    <label >Email</label>
    <input formControlName="email" type="email" [ngClass]="formulario.get('email').valid ? '' : 'is-invalid' " class="form-control" placeholder="Ingrese su correo electronico">  
    <div class="invalid-feedback" *ngIf="formulario.get('email').touched && formulario.get('email').hasError('required')" >Campo obligatorio</div>
    <div class="invalid-feedback" *ngIf="formulario.get('email').touched && formulario.get('email').hasError('email')" >Ingrese un correo valido</div>
  </div>

  <div class="form-group">
    <label >Password</label>
    <input  formControlName="password" type="password" [ngClass]="formulario.get('password').valid ? '' : 'is-invalid' " class="form-control"  placeholder="Contraseña">
    <div class="invalid-feedback" *ngIf="formulario.get('password').touched && formulario.get('password').hasError('required')" >Campo obligatorio</div>
    <div class="invalid-feedback" *ngIf="formulario.get('password').touched && formulario.get('password').hasError('pattern')" >La contraseña debe tener minimo 4 caracteres y maximo 8</div>
  </div>

 
  <div class="form-group">
    <label>Confirm password</label>
    <input formControlName="repeatpassword" type="password" [ngClass]="formulario.get('repeatpassword').valid ? '' : 'is-invalid' " class="form-control" placeholder="Confirmar contraseña">
    <div class="invalid-feedback" *ngIf="formulario.get('repeatpassword').touched && formulario.get('repeatpassword').hasError('required')" >Campo obligatorio</div>
    <div class="invalid-feedback" *ngIf="formulario.get('repeatpassword').touched && formulario.get('repeatpassword').hasError('pattern')" >La contraseña debe tener minimo 4 caracteres y maximo 8</div>
  </div>


  <div class="row">

    <div class="col-6">

      <div class="form-group">
        <label for="exampleFormControlSelect1">Seleccione un departamento</label>
        <select  [ngClass]="formulario.get('departamento').valid ? '' : 'is-invalid' "  formControlName="departamento" class="form-control">
           
          <option *ngFor="let departamento of departamentos" value="{{departamento}}">{{departamento.nombre}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="formulario.get('departamento').touched && formulario.get('departamento').hasError('required')">Seleccione un departamento</div>
      </div>

    </div>

    <div class="col-6">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Seleccione su ciudad</label>
        <select  [ngClass]="formulario.get('ciudad').valid ? '' : 'is-invalid' "  formControlName="ciudad" class="form-control">
             
          <option *ngFor="let ciudad of ciudades" value="{{ciudad}}">{{ciudad.nombre}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="formulario.get('ciudad').touched && formulario.get('ciudad').hasError('required')">Seleccione una ciudad</div>
      </div>
    </div>
  
  </div> 

  <button style="margin-right: 5px;" type="submit" class="btn btn-primary">Enviar</button>
  <button style="margin-right: 5px;" (click)="precargarInfo()" type="button" class="btn btn-primary">Cargar datos</button>
  <button (click)="LimpiarFormulario()" type="button" class="btn btn-primary">Limpiar</button>

</form>



